<div class="autocomplete">
    <input type="search"
        class="form-control" #searchRef placeholder="Enter country name"
        (keyup)="onKeyInputPressed(searchRef.value)" 
        name="search" (focus)="onInputFocus()"
        />
        <div *ngIf="show" id="element" class="autocomplete-items">
            <div *ngFor="let country of countryList" (click)="selectCountry(country)">
                <span  [innerHtml]="country?.html || country.name"></span>
            </div>
        </div>   
</div>